* {
    font-family: monospace;
}

body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: #000;
    color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    user-select: none;
}

#time-display {
    font-size: 10vw;
    text-align: center;
}

.milliseconds {
    font-size: 5vw;
    vertical-align: super;
}

.period {
    padding-left: 27px;
    font-size: 5vw;
}

#timezone-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#timezone-panel.visible {
    transform: translateY(0);
}

#timezone-input {
    padding: 10px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    border-radius: 5px;
    width: 150px;
    text-align: center;
}

.control-button {
    padding: 10px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    border-radius: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-button:hover {
    background-color: #444;
}
